.movie-card {
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: #28415a;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-decoration: inherit;
  padding-bottom: 0.6rem;
}
